:root { /*her har jeg defineret mine farver og min font*/
    --primary-color: #bdbed0;
    --secondary-color: #aba9c3;
    --tertiary-color: #6983b8;
    --quarternary-color: #275dad;
    --quinary-color: #0a0a0a;
    --senary-color: #f9f0f2;
    --septernary-color: #f5f5f5;
}
/*Her er stylingen af min body som er fælles for alle sider*/
body{
    background-color: var(--senary-color);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Her har vi stylet navigationsbaren*/
.navigation {
    background-color: var(--senary-color);
    width: 100%;
    z-index: 1;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
}
.active{ /*styling af min tekst i navbaren*/
    margin-right: 20px;
    font-size: 25px;
    text-decoration: none;
    color: var(--quarternary-color);
}

.logo {
    width: 80px;
    display: block;
    padding: 8px;
    margin-left: 20px;
}
.topnav{ /*topnav er none for at den ikke er synlig i mobilversion*/
    display: none;
}
.forside {
    width: 100%;
    margin-top: 120px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
h4{
    font-size: 15px;
    
}
.hvemerjeg{
    width: 170px;
    margin-right: 10px;
}
/*Her er stylingen af mit grid og opsætningen af det*/
.item1 { grid-area: menu; }
.item2 { grid-area: main; }
.item3 { grid-area: midt; }
    
.grid-container {
    display: grid;
    grid-template-areas:
        'menu menu main main main main'
        'menu menu midt midt midt midt';
    grid-gap: 0px;
    margin: 10px;
}
.hvemerjegbox{
    text-align: center;
    background-color: var(--primary-color);
    margin: 30px;
    line-height: 25px;
}
.hvemerjegbox p{
    padding: 10px;
}
.kompetencer{
    background-color: var(--primary-color);
    padding-top: 20px;
    padding-bottom: 20px;
}
/*Styling af min flex container*/
.flex-container-kompetencer {
    display: flex;
    margin-bottom: 30px;
  }
  
.flex-container-kompetencer > div {
    margin: 1px;
    font-size: 30px;
}
.kompetencer p{
    margin-right: 20px;
}
.billedekom{
    width: 80px;
    margin-left: 30px;
    margin-right: 30px;
  }
p{
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 20px;
}

.portfolio{
    padding: 20px;
}
/*Styling af mine flexcontainer. De er stylet sammen da de skal ligne hinanden*/
.flex-container-portfolio{
    display: flex;
    flex-direction: row;

}
.startup {
    width: 120px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 10px 20px 10px;
}

.racesfirst{
    width: 150px;
    margin-top: 20px;
}
.groenvilje{
    width: 150px;
    margin-left: 20px;
    margin-top: 30px;
 
}
.zumba{
    width: 150px;
    margin-left: 20px; 
}
/*styling af mine ikoner*/
.fangmig i{
    font-size: 70px;
    padding: 10px;
    color: var(--tertiary-color);
}
.fangmig p{
    margin-left: 10px;
}
footer{
    background-color: var(--quarternary-color);
    color: var(--senary-color);
    text-align: center;
    height: 25px;
}
.startupside{
    width: 300px;
    margin-top: 150px;
    margin-left: 40px;
}
.tekstgroenvilje h1{
    text-align: left;
    margin-bottom: 10px;
    margin-left: 20px;
}
.tekstgroenvilje p{
    margin-left: 20px;
    margin-right: 10px;
}
.xd{
    width: 100%;
    margin-bottom: 30px;
}
.linktilløsningen {
    color: var(--quarternary-color);
    text-decoration: underline;
    font-size: 20px;
    margin: 20px;
    position: relative;
    left: 300px;
}
.linktilløsningen{
    color: var(--quarternary-color);
    text-decoration: underline;
    font-size: 30px;
    margin: 20px;
    margin-left: 70px;
}

.racesside{
    background-color: var(--quinary-color);
    width: 90%;
    margin-top: 150px;
    margin-left: 15px;
}
.races{
    width:90%;
    margin-left: 15px;
    padding: 0;
    margin-bottom: 20px;
}
.racessamlet{
    width: 90%;
    margin-left: 15px;
}
.farver{
    width: 90%;
    margin-left: 15px;
}
.moodboard{
    width: 90%;
    margin-left: 15px;
}
h2{
    font-size: 15px;
    text-align: center;
}
.analyse{
    width: 90%;
    margin-left: 15px;
}
.uddannelse{
    background-color: var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
.uddannelse p{
    margin-left: 20px;
    color: var(--quarternary-color);
}
.uddannelse h4{
    margin-left: 20px;
}
/*her kommer stylingen af mit første media queries*/
@media screen and (min-width: 700px) {
    .topnav{
        display: block;
        position: relative;
        margin: 10px;
        padding: 10px;
    }
    .topnav a{
        text-decoration: none;
        padding: 20px;
        font-size: 20px;
        color: var(--quarternary-color);
    }
    .active{
        display: none;
    }
    .portfolio{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .fangmig i{
        font-size:100px ;
    }
    .fangmig p{
        margin-left: 100px;
    }
    .instagram{
        margin-left: 170px;
    }
    p{
        font-size: 25px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    h4{
        font-size: 30px;
    }
    .hvemerjeg{
        width: 300px;
    }
    .startupside{
        margin-left: 350px;
    }
    .linktilløsning{
        font-size: 30px;
    }
    .farver{
        width: 60%;
        margin-left: 200px;
        
    }
    .moodboard{
        width: 60%;
        margin-left: 200px;
    }
    .linktilløsning{
        margin-left: 200px; 
    }
}
/*styling af mit andet media queries*/
@media screen and (min-width: 1000px) {
    .topnav a{
        font-size: 30px;
    }
    .hvemerjeg{
        margin-left: 70px;
    }
    .hvemerjegbox{
        width: 60%;
        position: relative;
        left:300px ;
    }
    h1{
        font-size: 30px;
    }
    h4{
        font-size: 20px;
    }
    .portfolio{
        align-items: center;
        justify-content: space-evenly;
    }
    .groenvilje{
        margin-right: 40px;
    }
    .racesfirst{
        margin-left: 40px;
    }
    .instagram{
        margin-left: 300px;
    }
    .racesside{
        width: 500px;
        margin-left: 280px;
    }

}
/*styling af mit sidste media queries*/
@media screen and (min-width: 1100px) {
    .instagram{
        margin-left: 400px;
    }
    .startupside{
        margin-left: 480px;
    }
    .racesside{
        margin-left: 400px;
    }
    .farver{
        margin-left: 250px;
    }
    .moodboard{
        margin-left: 250px;
    }
    .linktilløsning{
        margin-left: 250px;
    }
    .startup{
        width: 250px;
    }
    .racesfirst{
        width: 320px;
    }
    .groenvilje{
        width: 300px;
    }
    .zumba{
        width: 250px;
    }
    .uddannelse h4{
        margin-left: 100px;
    }
    .uddannelse p{
        margin-left: 100px;
    }
}
@media screen and (min-width: 1300px) {
    .instagram{
        margin-left: 500px;
    }
    .startupside{
        margin-left: 550px;
    }
    .racesside{
        margin-left: 500px;
    }
    .linktilløsning{
        position: relative;
        left: 400px;
    }


}